@tailwind base;
@tailwind components;
@tailwind utilities;

.sb-hidden::-webkit-scrollbar {
display: none;
}


.normalTable {
  height: auto;
}

.swiper {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee-text {
  display: inline-block;
  padding-right: 10px;
  animation: fadeAnimation 5s linear infinite;
}

