@tailwind base;
@tailwind components;
@tailwind utilities;

.sb-hidden::-webkit-scrollbar {
display: none;
}

.table-body {
  max-height: 400px; 
  overflow-y: auto;
  transition: scroll-behavior 0.5s ease;
}

.table-body::-webkit-scrollbar {
  width: 12px;
}

.table-body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

.table-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.overflow-custom {
  overflow-clip-margin: 20px;
}